In [29]:
#S3 PRACTICE – Tuples, Sets, Dict, Copies, Functions

In [ ]:
#Tuples

In [7]:
# Examples 1 - Swap two variables using a tuple
a = 10
b = 20
a, b = b, a              # tuple unpacking to swap
print("a =", a, "b =", b)

a = 20 b = 10

In [9]:
#Example 2 – Returning multiple values from a function
def min_max(nums):        # function returns a tuple
    return min(nums), max(nums)

result = min_max([5, 2, 9, 1])
print(result)             # (1, 9)
min_val, max_val = result # tuple unpacking
print("Min:", min_val, "Max:", max_val)

(1, 9)
Min: 1 Max: 9

In [13]:
#Example 3 – List of tuples & filtering
students = [("Alice", 85), ("Bob", 72), ("Charlie", 91)]

# print only students with marks > 80
for name, mark in students:       # unpack each tuple
    if mark > 80:
        print(name, "passed with", mark)

Alice passed with 85
Charlie passed with 91

In [15]:
#Sets

In [17]:
#Example 1 – Remove duplicates
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = set(nums)           # removes duplicates
print(unique_nums)

{1, 2, 3, 4, 5}

In [19]:
#Example 2 – Common elements between two lists
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]

common = set(a) & set(b)          # intersection
only_in_a = set(a) - set(b)       # difference
print("Common:", common)
print("Only in a:", only_in_a)

Common: {3, 4}
Only in a: {1, 2}

In [25]:
#Example 3 – Check membership fast
vowels = {"a", "e", "i", "o", "u"}
char = "e"
if char in vowels:                # O(1) membership
    print(char, "is a vowel")

e is a vowel

In [ ]:
#Dictionaries

In [23]:
#Example 1 – Counting frequency of characters
text = "banana"
freq = {}

for ch in text:
    freq[ch] = freq.get(ch, 0) + 1   # get default 0

print(freq)                          # {'b': 1, 'a': 3, 'n': 2}

{'b': 1, 'a': 3, 'n': 2}

In [27]:
#Example 2 - Simple student marks lookup
marks = {
    "Alice": 90,
    "Bob": 78,
    "Charlie": 85
}

name = "Bob"
score = marks.get(name)              # returns None if not found
if score is not None:
    print(name, "scored", score)
else:
    print(name, "not found")

Bob scored 78

In [31]:
#Example 3 – Update or insert key

In [33]:
prices = {"apple": 100, "banana": 40}
item = "orange"
price = 60

prices[item] = price                 # adds new key
prices["apple"] = 120                # updates existing key
print(prices)

{'apple': 120, 'banana': 40, 'orange': 60}

In [35]:
#Nested Dictionaries

In [39]:
#Example 1 – Accessing nested values
students = {
    "S1": {"name": "Alice", "age": 20},
    "S2": {"name": "Bob", "age": 22},
}

print(students["S1"]["name"])       # Alice
print(students["S2"]["age"])        # 22

Alice
22

In [41]:
#Example 2 – Add a new course to a student

In [43]:
students = {
    "S1": {"name": "Alice", "courses": ["Math"]},
    "S2": {"name": "Bob", "courses": []},
}

sid = "S1"
course = "Science"

if course not in students[sid]["courses"]:
    students[sid]["courses"].append(course)   # modify nested list

print(students[sid])

{'name': 'Alice', 'courses': ['Math', 'Science']}

In [45]:
#Example 3 – Loop through nested dict
for sid, info in students.items():
    print(sid, "->", info["name"], "courses:", info["courses"])

S1 -> Alice courses: ['Math', 'Science']
S2 -> Bob courses: []

In [47]:
#Shallow Copy

In [49]:
#Example 1 – Using dict.copy()
original = {"a": 1, "b": [10, 20]}
shallow = original.copy()                # shallow copy

shallow["a"] = 99                        # changes only shallow
shallow["b"].append(30)                  # changes both (list shared)

print("Original:", original)
print("Shallow:", shallow)

Original: {'a': 1, 'b': [10, 20, 30]}
Shallow: {'a': 99, 'b': [10, 20, 30]}

In [51]:
#Example 2 – Using list() on list of lists
rows = [[1, 2], [3, 4]]
shallow_rows = list(rows)                # shallow copy of outer list

shallow_rows[0].append(99)               # inner list shared
print("rows:", rows)
print("shallow_rows:", shallow_rows)

rows: [[1, 2, 99], [3, 4]]
shallow_rows: [[1, 2, 99], [3, 4]]

In [53]:
#Deep Copy

In [57]:
#Example 1 – Nested dict
import copy
settings = {
    "theme": "light",
    "options": {"font": "Arial", "size": 12}
}

deep_settings = copy.deepcopy(settings)  # deep copy

deep_settings["options"]["size"] = 18   # only deep_settings changes
print("settings:", settings)
print("deep_settings:", deep_settings)

settings: {'theme': 'light', 'options': {'font': 'Arial', 'size': 12}}
deep_settings: {'theme': 'light', 'options': {'font': 'Arial', 'size': 18}}

In [59]:
#Example 2 – List of lists
matrix = [[1, 2], [3, 4]]
deep_matrix = copy.deepcopy(matrix)     # deep copy

deep_matrix[0].append(99)               # only deep_matrix changes
print("matrix:", matrix)
print("deep_matrix:", deep_matrix)

matrix: [[1, 2], [3, 4]]
deep_matrix: [[1, 2, 99], [3, 4]]

In [61]:
#functions(Print VS return)

In [65]:
#Example 1 – return result
def square(n):
    return n * n                        # returns value

result = square(5)
print("Square is:", result)

Square is: 25

In [69]:
#Example 2 – print inside function (no return)
def stats(nums):
    total = sum(nums)
    avg = total / len(nums) if nums else 0
    return total, avg                   # returns a tuple

t, a = stats([10, 20, 30])
print("Total:", t, "Average:", a)

Total: 60 Average: 20.0